<div class="card text-white bg-primary m-1" style="max-width: 100rem;">
    <div class="card-header">Sobre mí</div>
    <div class="card-body">
      <h4 class="card-title">Objetivos</h4>
      <p class="card-text">Hola, mi nombre es Katriel Díaz y soy desarrollador en Angular. Primero estudié algunos lenguajes como HTML, CSS y JavaScript. Me gusta programar y crear páginas web, especialmente con Angular, ya que es una tecnología PWA que ofrece muchas herramientas que considero muy útiles.</p>
      <p class="card-text">Me gusta trabajar en equipo, aprender sobre frontend, explorar nuevas herramientas y ampliar mi conocimiento para resolver problemas. Actualmente, estoy buscando trabajo para continuar con mi aprendizaje y ganar experiencia laboral. A futuro, también tengo otros planes, como aprender nuevos idiomas y profundizar más en backend.</p>
      <h4 class="card-title">Personal</h4>
      <p>Soy una persona sociable y con buen carácter; me gustan las actividades físicas. Apasionado por el mundo de la gastronomía y la programación, queriendo buscar sus experiencias.
        </p>
        <h4 class="card-title">Objectives</h4>
        <p class="card-text">My name is Katriel Díaz, and I am a developer working with Angular. I started by learning languages like HTML, CSS, and JavaScript. I enjoy programming and creating websites, especially with Angular, as it is a PWA technology that offers many useful tools that I find very helpful.</p>
        <p class="card-text">I enjoy working in teams, learning about frontend development, exploring new tools, and expanding my knowledge to solve problems. Currently, I am looking for a job to continue my learning and gain work experience. In the future, I also have plans to learn new languages and deepen my backend knowledge.</p>
        <h4 class="card-title">Personal</h4>
        <p class="card-text">I am a sociable person with a good character; I enjoy physical activities. I am passionate about both the world of gastronomy and programming, and I am eager to explore their experiences.</p>
    </div>
